<template>
  <div class="about" >
    
    <h1>Liga Profesional De Panama</h1>
    <br>
    <img src="../assets/logo.jpg">

    <h3>
      La liga de baloncesto de Panama en su caurta temporada, aqui podras hacer la solicitud de registro de tus equipos para ser aprovados lo mas pronto posible. </h3>
  
  
  </div>

   

</template>

<script>
  export default {
    data() {
      return {
        catalogo: [
          { img: "https://static.planetminecraft.com/files/resource_media/screenshot/1837/cj-templehill-1536677049.png"},
          { img: "https://camphalfbloodbklyn.com/wp-content/uploads/2019/01/Mobile-Music-Divison-e1547241393603.jpg"},
          { img: "http://2.bp.blogspot.com/-TGNEEen6Lxs/UjmF_0rF-2I/AAAAAAAACuE/_LDE3GOuo-o/s320/Camp+Jupiter+Archery+champion-1.JPG"},
          { img: "http://1.bp.blogspot.com/-Z5X4hGrExP4/UjmGWf6bgFI/AAAAAAAACuU/G7c81Ulzl1E/s1600/We+had+a+mummy+problem.JPG"},
        ]
      }
    }
  }
</script>

