<template>
  <div class="home">
    <h1>Registro de Equipo</h1>

    
  <el-table
    :data="tableData"
    height="250"
    style="width: 100%">
    <el-table-column
      prop="equip"
      label="Equipo"
      width="180">
    </el-table-column>
    <el-table-column
      prop="name"
      label="Nombre"
      width="180">
    </el-table-column>
    <el-table-column
      prop="address"
      label="Dirección">
    </el-table-column>
    
  </el-table>
  <br>
  <br>

  <el-form ref="formulario" :model="formulario" label-width="120px">
      <el-form-item label="Equipo">
        <el-input v-model="formulario.equip"></el-input>
      </el-form-item>
      <el-form-item label="Nombre">
        <el-input v-model="formulario.name"></el-input>
      </el-form-item>
      <el-form-item label="Direccion">
        <el-input v-model="formulario.address"></el-input>
      </el-form-item>
      <el-form-item v-if="validar">
        <el-button type="primary" @click="guardar">Guardar</el-button>
      </el-form-item>
      <br>
      <br>
    </el-form>


  </div>
</template>





<script>
// @ is an alias to /src
export default {
  name: "home",
  components: {},
    data() {
      return {
        tableData: [
          {
          equip: '1',
          name: 'Correcaminos',
          address: 'Colon, Panama'
        }, 
        {
          equip: '2',
          name: 'Caballos',
          address: 'Panama, Colon'
        }, 
        {
         equip: '3',
          name: 'Panteras',
          address: 'Panama, Parque Lefevre'
        }, 
        {
          equip: '4',
          name: 'Toros',
          address: 'Chiriqui, Panama'
        }, 
        {
          equip: '5',
          name: 'Atletico Nacional',
          address: 'Rio Abajo, PANAMA'
        }, 
        {
          equip: '6',
          name: 'Universitarios',
          address: 'Panama Oeste, Panama'
        }, 
        {
          equip: '7',
          name: 'Correcaminos Menores',
          address: 'Colon, Panama'
        }],
     

     info: {},
      formulario: {
        equip: "",
        name: "",
        address: ""
      },
      search: ''
    };
  },
  methods: {
    
    guardar: function() {
      this.tableData.push(this.formulario);
      this.formulario = {};
    }
  },
  computed: {
    validar() {
      return this.formulario.name != "" && this.formulario.cabain > 0;
    }
     }
    };


</script>
